*
{
    box-sizing: border-box;
}
body
{
   font-family: 'Quicksand', sans-serif;
   display:flex;
   flex-direction:column;
   text-align: center;
   justify-content: center;
   align-items: center;
   color: black;
   height: 100vh;
  overflow: hidden;
}
h1
{
    
    font-weight: bold;
}
#time
{
    font-size: 7rem;
    text-align: center;
 
}
h2
{
    font-size: 2rem;
   
 color: aliceblue;
    opacity: 0.9;
}
footer
{
    color: black;
    font-weight: bold;
    background-color: azure;
    padding: 0.2rem;
}
@media(max-width:800px)
{
    
  
    #time
    {
        font-size: 2rem;
    }

}
